<div class="main-container">
  <div class="controls-container">
    <button (click)="randomize()">Randomizza</button>
    <div class="slider">
      <label for="gruppi">{{groupNumber}} Gruppi</label>
      <input [(ngModel)]="groupNumber" type="range" id="gruppi" name="gruppi" min="1" max="10" />
    </div>
  </div>
  <div class="card-container">

    <div *ngFor="let group of groups">
      <app-student-card *ngFor="let student of group" [studentData]="student"></app-student-card>
    </div>

    <!-- <ol>
      <li *ngFor="let student of mockData">{{student}}</li>
    </ol> -->

  </div>
</div>

